p {
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-align: center;
}

nav {
  text-align: center;
}
header {
  position: fixed;
  background-color: white;
  top: 0;
  align-items: center;
  width: 100%;
}
